h1 {
  width: 100%;
  text-align: center;
}

.apis {
  width: 50%;
}

.apis__item {
  margin-left: 25px;
  padding-top: 25px;
  border-top: 1px solid #e8e8e8;

  .introduce__title {
    display: flex;
    font-size: 20px;
    margin: 15px;

    .title--ch {
      font-weight: bold;
    }

    .title--en {
      color: rgba(0, 0, 0, 0.85);
      font-style: italic;
    }
  }

  .content--ch {
    margin: 5px 0;
  }

  .content--en {
    color: rgba(0, 0, 0, 0.85);
    font-style: italic;
  }

  .content__operate {
    margin: 25px;

    .content__operate__item {
      margin: 10px 0;
    }
  }
}
